<!doctype html>
<html>
	<head>
		<title>Example 2 (WebSocket interaction)</title>
		<style type="text/css">
			html, body {
				background-color: #fff;
			}
			table {
			    font-family: monospace;
			}
			textarea {
			    width: 600px;
			    height: 400px;
			}
			input[type=text] {
			    width: 300px;
			}
		</style>
        <link rel="stylesheet" type="text/css" href="/static/motdplayer/motdplayer.css" />
        <script type="application/javascript" src="/static/motdplayer/motdplayer.js"></script>
		<script type="application/javascript">
			var MOTDPlayer = new MOTDPlayerClass("{{ base64_init_string }}");
		</script>
        <script type="application/javascript" src="/static/motd_example2/script.js"></script>
	</head>
	<body>
        <h1>Example 2 (WebSocket interaction)</h1>
        <textarea id="events-log"></textarea><br/>
		<input type="text" placeholder="Enter message to send to the server chat..." id="message-box" /><input type="button" disabled value="Send!" id="send-button" />

        <!--
			The following table utilizes two context variables that are
			automatically inserted by the Flask application: auth_data and
			next_auth_data. The table serves debug purposes only.
		-->
		<table>
			<tr><th colspan="2">MOTDPlayer Debug Info</th></tr>
			<tr><td>Server ID: </td><td>{{ auth_data.serverId }}</td></tr>
			<tr><td>Plugin ID: </td><td>{{ auth_data.pluginId }}</td></tr>
			<tr><td>Page ID: </td><td>{{ auth_data.pageId }}</td></tr>
			<tr><td>Current Auth Method: </td><td>{{ auth_data.authMethod }}</td></tr>
			<tr><td>Current Auth Token: </td><td>{{ auth_data.authToken }}</td></tr>
			<tr><td>Next Auth Method: </td><td>{{ next_auth_data.authMethod }}</td></tr>
			<tr><td>Next Auth Token: </td><td>{{ next_auth_data.authToken }}</td></tr>
			<tr><td>Session ID: </td><td>{{ auth_data.sessionId }}</td></tr>
			<tr><td>Your SteamID (64-bit): </td><td>{{ auth_data.steamid }}</td></tr>
		</table>
	</body>
</html>
